Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored for easy retrieval and management. It is designed to efficiently manage, store, and retrieve data in a structured format.

SQL Database:They use a table-based data model where data is organized into tables with predefined schema (structure).

NoSQL Database: NoSQL databases support various data models, including document, key-value, wide-column, and graph databases. The choice of model depends on the specific requirements of the application.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language and it is a subset of SQL used for defining and managing the structure of a relational database. DDL statements are used to define, modify, and manage the structure of database objects such as tables, indexes, and constraints. 

CREATE: It is used to create table and indexes. CREATE defines a new table with columns, datatypes and contraints. It also creates indexes for faster data retrieval.

Table: 
CREATE TABLE TableName (
    Column1 DataType1,
    Column2 DataType2,
    ...
    CONSTRAINT ConstraintName PRIMARY KEY (Column1)
);
Index: 
CREATE INDEX IndexName ON TableName (Column1, Column2);

DROP: 
Table: Removes an existing table along with its data and associated objects.

DROP TABLE TableName;

Index: Removes an existing index from a table.

DROP INDEX IndexName;

ALTER:
Table: Modifies an existing table, such as adding or dropping columns, changing data types, or renaming the table.

ALTER TABLE TableName
ADD Column3 DataType3;

ALTER TABLE TableName
DROP COLUMN Column2;

Index:

ALTER INDEX IndexName
DROP COLUMN Column2;

TRUNCATE:
Table: Removes all rows from a table, but retains the table structure for further use. It is faster than the DELETE statement for removing all records.

TRUNCATE TABLE TableName;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, and it is a subset of SQL used for managing data within a relational database. DML statements allow users to insert, update, and delete data in database tables.

INSERT:
Adds new rows of data to a table.

INSERT INTO TableName (Column1, Column2, ...)
VALUES (Value1, Value2, ...);

UPDATE:
Modifies existing data in a table based on a specified condition.

UPDATE TableName
SET Column1 = NewValue1, Column2 = NewValue2, ...
WHERE SomeCondition;

DELETE:
Removes rows from a table based on a specified condition.

DELETE FROM TableName
WHERE SomeCondition;

It's also possible to delete all rows from a table without deleting the table itself.

DELETE FROM TableName;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, and it is a subset of SQL that specifically deals with querying or retrieving data from a database. 

SELECT statement is used to query the database and retrieve information from one or more tables.

SELECT column1, column2, ...
FROM tableName
WHERE condition;

1. column1, column2,...The columns you want to retrieve from table.
2. tablename - The name of the table you want to retrieve data from.
3. condition - An optional clause that specifies conditions that must be met for the rows to be included in the result. If omitted, all rows from the table will be retrieved.

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key constraint depicts a key comprising one or more columns that only has unique values in it. NO NULL values are present in column with Primary key. Only one primary key per table exist although Primary key may have multiple columns. There are two types of Primary keys; Simple Primary key and Composite primary key. Defined in Create table / Alter table statement.

Foreign Key: Foreign Key is a column that refers to the primary key/unique key of other table. So it demonstrates relationship between tables and act as cross reference among them. Table that defines primary/unique key and is referenced by foreign key is called primary table/master table/ Referenced Table. It is Defined in Create table/Alter table statement. For the table that contains Foreign key, it should match the primary key in referenced table for every row. Foreign key column and constraint column should have matching data types.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute('SELECT * FROM Employees')
for row in cursor.fetchall():
    print(row)
cursor.close()
db.close()

#Cursor(): This object is used to execute queries and retrieve results from the database.
#Execute(): This method of the cursor object is used to execute SQL statements and retrieve the results. It returns the data of affected rows else it returns None if no rows were affected.

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
SELECT departments.department_name, AVG(employees.salary) as avg_salary
FROM employees
JOIN departments ON employees.department_id = departments.department_id
WHERE employees.salary > 40000
GROUP BY departments.department_name
HAVING AVG(employees.salary) > 50000
ORDER BY avg_salary DESC;

1. FROM: Retrieve data from the employees table and the departments table.
2. JOIN: Combine rows from the employees and departments tables based on the join condition (employees.department_id = departments.department_id).
3. WHERE: Filter out rows where the salary is not greater than 40000.
4. GROUP BY: Group the remaining rows by the department_name column.
5. HAVING: Filter out groups where the average salary is not greater than 50000.
6. SELECT: Select the department_name column and the calculated average salary (AVG(employees.salary)).
7. ORDER BY: Sort the result set based on the calculated average salary in descending order.